# ============================================================================
# KISA 주요정보통신기반시설 취약점(U-01~U-67) 자동화 Ansible 설정
# ============================================================================
[defaults]
inventory            = inventory/ec2.ini
roles_path           = roles
interpreter_python   = auto_silent
retry_files_enabled  = False
deprecation_warnings = False
callback_plugins    = callbacks
callbacks_enabled   = results_json

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
[ssh_connection]
pipelining = False
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand=none -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

[persistent_connection]
connect_timeout = 30 


